<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGE.WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pagina Inicial
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inventories">
                <span class="oi oi-box" aria-hidden="true"></span> Inventário
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productlist">
                <span class="oi oi-check" aria-hidden="true"></span> Produtos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchase">
                <span class="oi oi-plus" aria-hidden="true"></span> Comprar Estoque
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="produce">
                <span class="oi oi-badge" aria-hidden="true"></span> Produzir produto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sell">
                <span class="oi oi-cart" aria-hidden="true"></span> Venda de Produtos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InventoryReport">
                <span class="oi oi-book" aria-hidden="true"></span> Relatório de Estoque
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
