@page "/"

<PageTitle>SGE - WebApp</PageTitle>

<div style="display:block; width:50%; margin: 0 auto">
    <br/><br/><br/><br/>
    <h1 style="font-size: 60px">Sistema de Gerenciamento de Inventário</h1>
    <br/>
    <div style="width:600px; font-size: 30px; margin-left: 50px">
        Sistema criado com <b>ASP.Net Core Blazor</b> no <b>.Net 6</b>, usando <b>Entity Framework Core</b> para integração com Banco de dados <b>SQLite</b> e <b>Identity Framework</b> para autenticação e autorização. Feito com <b>Arquitetura Limpa</b> e todos as convenções exigidas.<br/>O sistema usa o Banco de dados <b>SQLite</b> para ter as bases disponíveis no <b>GitHub</b>, porém de facil migração para <b>SQL Server</b> caso necessário!
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
