@page "/"

<PageTitle>SGE - WebApp</PageTitle>

<h1>Seja bem vindo!</h1>

Projeto de sistema de gerenciamento de inventário.

<SurveyPrompt Title="Sistema criado com .Net 6, ASP.Net Core e Blazor!" />
