@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Inventário de peças</h3>
<br />
<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>

@if (listInventories != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inv in this.listInventories)
            {
                <tr>
                    <td>@inv.InventoryName</td>
                    <td>@inv.Quantity</td>
                    <td>@inv.Price.ToString("c")</td>
                    <td>
                        <button type="button" class="btn btn-light" @onclick="@(() => EditInventory(inv.InventoryId))">Editar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button type="button" class="btn btn-primary" @onclick="AddInventory">Novo Item</button>

@code {
    private List<Inventory>? listInventories;

    protected override async Task OnInitializedAsync()
    {
        var inventory = await ViewInventoriesByNameUseCase.ExecuteAsync();
        this.listInventories = inventory.ToList();
    }

    private void OnSearchInventories(List<Inventory> inventories)
    {
        listInventories = inventories;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }

    private void EditInventory(int invId)
    {
        NavigationManager.NavigateTo($"/editinventory/{invId}");
    }
}
