<div class="form-group">
    <label>Inventários</label>
    <ViewInventoriesComponent DisplaySearchResult="true" OnSelectInventory="OnSelectInventory"></ViewInventoriesComponent>
</div>

@if (ProductInventories != null && ProductInventories.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodInv in this.ProductInventories)
            {
                <tr>
                    <td>
                        @prodInv.Inventory.InventoryName
                    </td>
                    <td>
                        <input type="number" min="0" max="@prodInv.Inventory.Quantity" @bind-value="prodInv.InventoryQuantity" />
                    </td>
                    <td>
                        <button class="btn btn-link" type="button" @onclick="(() => RemoveInventory(prodInv))">
                            Remove
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProductInventory> ProductInventories = new List<ProductInventory>();

    private void OnSelectInventory(Inventory inventory)
    {
        if (!ProductInventories.Any(x => x.Inventory.InventoryName.Equals(inventory.InventoryName, StringComparison.OrdinalIgnoreCase)))
        {
            this.ProductInventories.Add(new ProductInventory { InventoryId = inventory.InventoryId, Inventory = inventory });
        }
    }

    private void RemoveInventory(ProductInventory prodInv)
    {
        this.ProductInventories.Remove(prodInv);
    }
}


